.section-compte h1{
    color: #F54D06;
    text-align: center;
    margin-bottom: 50px;
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 4em;

    .section-compte {
    display: flex;
    flex-direction: column;
    }
    .compte{

      font-family: "Lobster Two", sans-serif;
      font-style: italic;
      font-size: 2em;
    }
  }
  .formulaire{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin-left: 10px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
  }
  .compte {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
  }
  
  .form-email-password {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border: black;
  }
   
  label {
    margin-bottom: 10px;
  }
  
  input[type='submit'] {
    width: 150px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  p{font-family: "Lobster Two", sans-serif;
  font-style: italic;
  font-size: 2em;
  }

  .color{ color: #F54D06;

    font-size: 1.5em;
    margin-top: 30px;
  }

  input,
  textarea {
    padding: 15px;
    border-radius: 3px;
    border: black;
  }
  .cta:hover {
    background: linear-gradient(#eceae9,#fb996e);
    text-decoration: none;
  }
  .cta {
    display: inline-block;
    background: linear-gradient(#EDC8B8,#F54D06);
    color: black;
    font-weight: bold;
    border-radius: 50px;
 }
 .section-compte {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    align-items: flex-start;
    margin-left: 50px;
  }
  .mpt{
    font-weight: bold;
  }
  .mop{
    display: flex;
  }
  .mop2{
    margin-top: 45px;
    margin-left: 10px;
  }
  
  
 
 