.section-compte h1{
    color: #F54D06;
    text-align: center;
    margin-bottom: 50px;
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 4em;

    .section-compte {
    display: flex;
    flex-direction: column;
    }
    .compte{

      font-family: "Lobster Two", sans-serif;
      font-style: italic;
      font-size: 2em;
    }
  }
  .formulaire{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin-left: 10px;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
  }
  .compte {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
  }
  
  .form-email-password {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border: black;
  }
   
  label {
    margin-bottom: 10px;
  }
  
  input[type='submit'] {
    width: 150px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  p{font-family: "Lobster Two", sans-serif;
  font-style: italic;
  font-size: 2em;
  }

  .color{ color: #F54D06;

    font-size: 1.5em;
    margin-top: 30px;
  }

  input,
  textarea {
    padding: 15px;
    border-radius: 3px;
    border: black;
  }
  .cta:hover {
    background: linear-gradient(#eceae9,#fb996e);
    text-decoration: none;
  }
  .cta {
    display: inline-block;
    background: linear-gradient(#EDC8B8,#F54D06);
    color: black;
    font-weight: bold;
    border-radius: 50px;
 }
 .section-compte {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    align-items: flex-start;
    margin-left: 50px;
  }
  .mpt{
    font-weight: bold;
  }
  .mop{
    display: flex;
  }
  .mop2{
    margin-top: 45px;
    margin-left: 10px;
  }
  
@media screen and (max-width: 768px) {

  #contenant1 {
    flex-direction: column; /* Changer la direction de la navigation en colonne */
    align-items: center; /*  Centrer les éléments */
  }
  .logo {
    margin-bottom: 20px; /*  Ajouter de l'espace sous le logo */
  }
  .li-header-navigation li {
    padding: 10px; /* Augmenter la marge autour des éléments de navigation*/
  }
}

@media screen and (max-width: 576px) {

  .input {
    width: 100px; /*Rendre le champ de saisie de largeur totale */
  }
  
}


@media screen and (max-width: 1024px) {
 
  .input {
    width: 100px; /*Rendre le champ de saisie de largeur totale */
  }
  .compte {
    padding: 20px; /* Ajouter de la marge autour du contenu principal */
  }
  .section-compte {
    margin-bottom: 20px; /* Ajouter de l'espace sous la section  */
  }
  .form-email-password {
    display: flex; /*Afficher les colonnes du formulaire en ligne */
    flex-wrap: wrap; /* Permettre aux colonnes de se retourner sur les écrans plus petits */
  }
  .form-column {
    flex: 1 1 100%; /* Faire en sorte que les colonnes du formulaire prennent toute la largeur */
    margin-bottom: 10px; /* Ajouter de l'espace entre les colonnes du formulaire  */
  }
  .cta {
    display: block; /* Afficher le bouton comme un élément de bloc */
    margin-top: 20px; /*Ajouter de l'espace au-dessus du bouton  */
    width: 100%; /*Rendre le bouton de largeur totale */
  }
  .mpt {
    display: block; /*  Afficher le lien comme un élément de bloc */
    text-align: center; /* Centrer le texte du lien */
    margin-top: 10px; /*Ajouter de l'espace au-dessus du lien */
  }
}

  
 
 