


h1{
    text-align: center;/*mettre le texte au centre*/
    font-size: 30px;
    margin-top: 3%;
    margin-bottom: 4%;
}

h1 {
    font-family: 'Lobster', sans-serif;
        
        font-weight:300px;
        font-style: normal;
       
  }
  
 .div1, .div2, .div3, .div4 {
        
        /*font-weight: 400;
        font-style: normal*/
        font-family: 'Lobster', sans-serif;
        font-style: normal;
        margin-top: 20px;/*marge entre le boutton et les autres elements du formulaire*/
        margin-left: 315px; 
        margin-right: 250px;   
        padding: 5px;
        width:20; /* largeur */
        
 }
 

 label{
    position: absolute;/*pour mettre les etiquettes sur les inputs*/
    
    margin-top: -4px;/*la marge entre les etiquettes et les inputs*/
    margin-bottom: 10px;


}

.inpu2, .inpu3, .inpu4, .inpu5, .inpu6, .inpu7{
    width:170px;
    height:30px;
    margin-top:15px ;/*pour pas que les etiquettes se retrouve dans les inputs*/
    margin-right: 40px;/*distance entre les inputs*/
    margin-bottom: 5px;/*marge partant du bas */
    padding-left: 5px;
    padding-right: 5px;
    border: none;


}

.inpu8, .inpu9, .inpu10, .inpu11{
    width:170px;
    height:30px;
    margin-top:15px ;/*pour pas que les etiquettes se retrouve dans les inputs*/
    margin-right: 40px;/*distance entre les inputs*/
    margin-bottom: 5px;/*marge partant du bas */
    padding-left: 5px;
    padding-right: 5px;
    border: none;

}
 
 a{
     text-decoration: none;
     color: #F54D0C;
     font-weight:bold;
     font-size: large;
 }

 a:hover{
     color: #9c5b3f;/*la couleur de la ligne*/
     text-decoration: underline;/*une ligne s'affiche lorsque je me pointe sur le lien*/
 }

    
 .div5 {
    height: 35pxpx;
    width: 150px;
    padding: 5px 5px;
    cursor: pointer;
    font-family: 'Lobster', sans-serif;
    font-style: normal;
    margin-top: 25px;
    margin-bottom: 65px;
    margin-right: 600px; 
    float: right;
    font-weight:bold;
     background-color: #F54D0C;
     border: none;
     border-radius: 6px 6px 6px 6px ;/*donner un aspect arrondi*/

   /*box-shadow: 6px 6px 8px rgb(80, 80, 80) ;effet ombrE. mettre de l'ombre*/


 }
 @media screen and (max-width: 768px) {
    .div1, .div2, .div3, .div4 {
        flex-direction: column;
    }
}
@media screen and (max-width: 576px) {
    .input {
        margin-left: 0;
    }
}

